.fl{
  float: left;
}
.fr{
  float: right;
}
.true-wrap:before, .true-wrap:after{
  content: "";
  display: block;
  clear: both;
}
.no-space{
  font-size: 0px;
  -webkit-text-size-adjust:none;
}
.no-space>*{
  font-size: 1rem;
}
a.link{
  color: #333;
}
a.link:hover{
  color: #ff6700;
}


/*-------------------topbar-------------------------*/
#topbar{
  height: 40px;
  width: 100%;
  min-width: 1200px;
  background-color: #333;
}
#topbar-wrap{
  width: 1200px;
  height: 40px;
  margin: 0 auto;
}
#topbar-wrap a{
  font-size: 12px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #b0b0b0;
  margin-right: 15px;
}
#topbar-wrap a:hover{
  color: rgb(255,255,255);
}
#topbar-wrap-right i{
  vertical-align: -4%;
  font-weight: bold;
  font-size: 1.4em;
  margin-right: 5px;
}

/*-------------------------navbar---------------------------*/
#navbar{
  min-width: 1200px;
}
#navbar-wrap{
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
#navbar-wrap-1{
  height: 100px;
  margin-right: 200px;
}
#navbar-wrap-1 a{
  width: 50px;
  height: 50px;
  display: block;
  margin: 25px 0;
}
#navbar-wrap-2{
  height: 100px;
}
#navbar-wrap-2 li{
  display: inline-block;
  margin-right: 18px;
}
#navbar-wrap-2 li a{
  color: #333;
  margin: 10px 0;
  display: block;
  line-height: 80px;
}
#navbar-wrap-2 li a:hover{
  color: #ff6700;
}
#navbar-wrap-3 form{
  display: block;
  margin: 25px 0;
  position: relative;
}
#navbar-wrap-3 form input{
  display: inline-block;
  box-sizing: border-box;
  width: 250px;
  height: 50px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}
#navbar-wrap-3 form input:hover{
  border: 1px solid #a0a0a0;
}
#navbar-wrap-3 form span{
  padding: 10px;/*增加点击面积*/
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  top: 3px;
  right: 3px;
}
#navbar-wrap-3 form span:hover{
  cursor: pointer;
  color: #ff6700;
}

/*-------------------------carousel------------------------------*/
#carousel{
  min-width: 1200px;
}
#carousel-wrap{
  width: 1200px;
  height: 460px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#carousel-wrap-leftbar{
  position: absolute;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  width: 220px;
  z-index: 20;
}
#carousel-wrap-leftbar i{
  float: right;
}
#carousel-wrap-leftbar ul{
  padding: 20px 0;
}
#carousel-wrap-leftbar li a{
  color: #fff;
  display: inline-block;
  line-height: 42px;
  height: 42px;
  width: 220px;
  padding: 0 20px;
  font-size: 14px;
}
#carousel-wrap-leftbar li a:hover{
  background-color: #ff6700;
}

/*---------------------------tab--------------------------------*/
.tab-item{
  display: none;
  position: absolute;
  z-index: 0;
  left: 220px;
  width: 980px;
  height: 460px;
  box-shadow: 0 0 20px -5px #999;
}
.open-tab{
  display: block;
  z-index: 100;
}

/*---------------------carousel-wrap-item---------------------------*/
#carousel-wrap-item{
  width: 1200px;
  height: 460px;
}
#carousel-wrap-item a{
  display: block;
  position: absolute;
}
#carousel-wrap-item a div{
  display: block;
  width: 1200px;
  height: 460px;
}

/*----------------------toggle-btn-----------------------------*/
#toggle-btn-left, #toggle-btn-right{
  display: block;
  position: absolute;
  z-index: 20;
  font-size: 3em;
  line-height: 80px;
  height: 80px;
  width: 50px;
  color: #e3e3e3;
  margin-top: -40px;
}
#toggle-btn-left:hover, #toggle-btn-right:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.3);
}
#toggle-btn-left{
  top:50%;
  left: 220px;
}
#toggle-btn-right{
  top: 50%;
  right: 0px;
}

/*-------------------------spot----------------------*/
#spot{
  position: absolute;
  height: 20px;
  bottom: 35px;
  right: 100px;
  z-index: 20;
}
#spot .dot{
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  margin-top: 5px;
  margin-right: 10px;
  border: 2px solid #b6b6b6;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.6);
}
#spot .dot:hover{
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
}
#spot .dot:last-of-type{
  margin-right: 0;
}
#spot .dot.selected{
  background-color: rgba(255,255,255,0.8);
}

/*---------------------------------item---------------------------*/
#item{
  min-width: 1200px;
  margin-top: 30px;
  background-color: #f5f5f5;
}
#item-wrap{
  width: 1200px;
  margin: 0 auto;
}
.content{
  padding-top: 30px;
}
.content-header{
  margin-bottom: 10px;
}
.content-header>div{
  line-height: 50px;
}
.content-body{
  margin-top: 10px;
}
.content-body .fl>div{
  width: 228px;
  height: 615px;
  margin-right: 15px;
  background-color: #d6d6d6;
}
.content-body .fr{
  width: 957px;
}
.content-body .right-wrap{
  margin: -15px -15px 0 0;
}
.content-body .item-list{
  position: relative;
  float: left;
  margin: 15px 15px 0 0;
  height: 300px;
  width: 228px;
  background-color: #fff;
}
.content-body .item-list .tip{
  color: #fff;
  font-size: 12px;
  position: absolute;
  text-align: center;
  top: 0;
  left: 50%;
  width: 64px;
  line-height: 20px;
  margin-left: -32px;
}
.content-body .item-list .tip-new{
  background-color: #83c44e;
}
.content-body .item-list .tip-off{
  background-color: #e53935;
}
.content-body .item-list img{
  width: 160px;
  height: 160px;
}
.content-body .item-list a{
  display: block;
  text-align: center;
}
.item-list .img{
  margin-top: 20px;
}
.item-list .img a h3{
  font-size: 14px;
  margin-top: 20px;
}
.item-list .desc{
  text-align: center;
  color: #b0b0b0;
  font-size: 12px;
  margin: 5px 0 10px 0;
}
.item-list .price{
  font-size: 12px;
  text-align: center;
  color: #ff6700;
}